.contenedor {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.contenedor h2 {
    text-align: center;
    margin-bottom: 20px;
}

.grupo-formulario {
    margin-bottom: 15px;
    color: black;
}

.grupo-formulario label {
    display: block;
    font-weight: bold;
}

.grupo-formulario input[type="text"],
.grupo-formulario input[type="email"],
.grupo-formulario input[type="tel"],
.grupo-formulario select,
.grupo-formulario textarea {
    width: calc(100% - 22px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.grupo-formulario select {
    width: 100%;
}

.grupo-formulario textarea {
    resize: vertical;
}

.grupo-formulario input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: black;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

legend{
    color: black;
}